@charset "UTF-8";
html, body {
    height: 100%; }

body {
    display: grid;
    background: white;
    transition: background .2s ease; }
body.dark {
    background: #25292E; }

.mode {
    position: relative;
    margin: auto;
    width: 42px;
    height: 22px;
    background: #F1F2F4;
    border-radius: 20px;
    cursor: pointer; }
.mode:after {
    content: '☀️';
    position: absolute;
    top: 0;
    left: 4px;
    font-size: 14px;
    height: 22px;
    line-height: 23px;
    text-align: center;
    transition: all .3s ease; }
@media screen and (max-width: 768px) {
    .mode:after {
        line-height: 22px;
        left: 1px; } }
.mode.active {
    background: #1A66E7; }
.mode.active:after {
    content: '🌛';
    transform: translateX(20px); }
.mode.active span {
    transform: translateX(0); }
.mode span {
    position: absolute;
    z-index: 1;
    margin: 2px;
    display: block;
    width: 18px;
    height: 18px;
    background: white;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transform: translateX(20px);
    transition: all .4s ease; }
